* {
    padding: 0;
    margin : 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    width: 400px;
    height: 400px;
}
.image-preview {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border: 2px dashed white;
    border-radius: 5px;
    background-color: burlywood;
    cursor: pointer;
}
.image-preview img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}